@mixin background_gradient ($grad1, $grad2) {
    background-position: initial initial;
    background-repeat: initial initial;
    background: linear-gradient(135deg, $grad1, $grad2);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    @-webkit-keyframes AnimationName {
        0% {
            background-position: 10% 0%
        }
        50% {
            background-position: 91% 100%
        }
        100% {
            background-position: 10% 0%
        }
    }
    @-moz-keyframes AnimationName {
        0% {
            background-position: 10% 0%
        }
        50% {
            background-position: 91% 100%
        }
        100% {
            background-position: 10% 0%
        }
    }
    @-o-keyframes AnimationName {
        0% {
            background-position: 10% 0%
        }
        50% {
            background-position: 91% 100%
        }
        100% {
            background-position: 10% 0%
        }
    }
    @keyframes AnimationName {
        0% {
            background-position: 10% 0%
        }
        50% {
            background-position: 91% 100%
        }
        100% {
            background-position: 10% 0%
        }
    }
}

@mixin gradient_card-block () {
    background: $gris_claro;
    background: -moz-linear-gradient(top, $gris_claro 0%, $gris_medio 100%);
    background: -webkit-linear-gradient(top, $gris_claro 0%, $gris_medio 100%);
    background: linear-gradient(to bottom, $gris_claro 0%, $gris_medio 100%);
}

@mixin gradient_card-block_args ($args) {
    background: $gris_claro;
    background: -moz-linear-gradient($args, $gris_claro 0%, $gris_medio 100%);
    background: -webkit-linear-gradient($args, $gris_claro 0%, $gris_medio 100%);
    background: linear-gradient($args, $gris_claro 0%, $gris_medio 100%);
}

@mixin gradiente-diagonal ($args, $args2, $args3) {
    background: $args;
    background: -moz-linear-gradient(-45deg, $args 0%, $args2 50%, $args3 100%);
    background: -webkit-linear-gradient(-45deg, $args 0%, $args2 50%, $args3 100%);
    background: linear-gradient(135deg, $args 0%, $args2 50%, $args3 100%);
}