/*Neon*/

$color_neon1:#fa05d1;
$color_neon2: #0588fa;
$color_neon3: #FFDD1B;
$color_neon4: #B6FF00;
$color_neon5: #FF9900;
$color_neon6a: #BA01FF;
$color_neon6b: #ff00de;

/*Neon*/

.neon 
	a {
		text-decoration: none;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		transition: all 0.5s;
	}
	a:hover {
		color: white;
	}
	#neon_1 
		a {
			color: white;
			-webkit-animation: neon1 1.5s ease-in-out infinite alternate;
			-moz-animation: neon1 1.5s ease-in-out infinite alternate;
			animation: neon1 1.5s ease-in-out infinite alternate;
		}
		a:hover {
			color: $color_neon1;
			-webkit-animation: none;
			-moz-animation: none;
			animation: none;
		}

	#neon_2 
		a {
			font-size: 1.5em;
			color: $color_neon2;
		}
		a:hover {
			-webkit-animation: neon2 1.5s ease-in-out infinite alternate;
			-moz-animation: neon2 1.5s ease-in-out infinite alternate;
			animation: neon2 1.5s ease-in-out infinite alternate;
		}

	#neon_3 
		a {
			color: $color_neon3;
		}
		a:hover {
			-webkit-animation: neon3 1.5s ease-in-out infinite alternate;
			-moz-animation: neon3 1.5s ease-in-out infinite alternate;
			animation: neon3 1.5s ease-in-out infinite alternate;
		}

	#neon_4 
		a {
			color: $color_neon4;
			font-size: 0.8em;
		}
		a:hover {
			-webkit-animation: neon4 1.5s ease-in-out infinite alternate;
			-moz-animation: neon4 1.5s ease-in-out infinite alternate;
			animation: neon4 1.5s ease-in-out infinite alternate;
		}

	#neon_5 
		a {
			color: $color_neon5;
		}
		a:hover {
			-webkit-animation: neon5 1.5s ease-in-out infinite alternate;
			-moz-animation: neon5 1.5s ease-in-out infinite alternate;
			animation: neon5 1.5s ease-in-out infinite alternate;
		}
	#neon_6 
		a {
			color: $color_neon6a;
		}
		a:hover {
			color: white;
			-webkit-animation: neon6 1.5s ease-in-out infinite alternate;
			-moz-animation: neon6 1.5s ease-in-out infinite alternate;
			animation: neon6 1.5s ease-in-out infinite alternate;
		}

/*glow for webkit*/

@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon1, 0 0 70px $color_neon1, 0 0 80px $color_neon1, 0 0 100px $color_neon1, 0 0 150px $color_neon1;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon1, 0 0 35px $color_neon1, 0 0 40px $color_neon1, 0 0 50px $color_neon1, 0 0 75px $color_neon1;
    }
}

@-webkit-keyframes neon2 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon2, 0 0 70px $color_neon2, 0 0 80px $color_neon2, 0 0 100px $color_neon2, 0 0 150px $color_neon2;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon2, 0 0 35px $color_neon2, 0 0 40px $color_neon2, 0 0 50px $color_neon2, 0 0 75px $color_neon2;
    }
}

@-webkit-keyframes neon3 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon3, 0 0 70px $color_neon3, 0 0 80px $color_neon3, 0 0 100px $color_neon3, 0 0 150px $color_neon3;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon3, 0 0 35px $color_neon3, 0 0 40px $color_neon3, 0 0 50px $color_neon3, 0 0 75px $color_neon3;
    }
}

@-webkit-keyframes neon4 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon4, 0 0 70px $color_neon4, 0 0 80px $color_neon4, 0 0 100px $color_neon4, 0 0 150px $color_neon4;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon4, 0 0 35px $color_neon4, 0 0 40px $color_neon4, 0 0 50px $color_neon4, 0 0 75px $color_neon4;
    }
}

@-webkit-keyframes neon5 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon5, 0 0 70px $color_neon5, 0 0 80px $color_neon5, 0 0 100px $color_neon5, 0 0 150px $color_neon5;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon5, 0 0 35px $color_neon5, 0 0 40px $color_neon5, 0 0 50px $color_neon5, 0 0 75px $color_neon5;
    }
}

@-webkit-keyframes neon6 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon6b, 0 0 70px $color_neon6b, 0 0 80px $color_neon6b, 0 0 100px $color_neon6b, 0 0 150px $color_neon6b;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon6b, 0 0 35px $color_neon6b, 0 0 40px $color_neon6b, 0 0 50px $color_neon6b, 0 0 75px $color_neon6b;
    }
}


/*glow for mozilla*/

@-moz-keyframes neon1 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon1, 0 0 70px $color_neon1, 0 0 80px $color_neon1, 0 0 100px $color_neon1, 0 0 150px $color_neon1;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon1, 0 0 35px $color_neon1, 0 0 40px $color_neon1, 0 0 50px $color_neon1, 0 0 75px $color_neon1;
    }
}

@-moz-keyframes neon2 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon2, 0 0 70px $color_neon2, 0 0 80px $color_neon2, 0 0 100px $color_neon2, 0 0 150px $color_neon2;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon2, 0 0 35px $color_neon2, 0 0 40px $color_neon2, 0 0 50px $color_neon2, 0 0 75px $color_neon2;
    }
}

@-moz-keyframes neon3 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon3, 0 0 70px $color_neon3, 0 0 80px $color_neon3, 0 0 100px $color_neon3, 0 0 150px $color_neon3;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon3, 0 0 35px $color_neon3, 0 0 40px $color_neon3, 0 0 50px $color_neon3, 0 0 75px $color_neon3;
    }
}

@-moz-keyframes neon4 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon4, 0 0 70px $color_neon4, 0 0 80px $color_neon4, 0 0 100px $color_neon4, 0 0 150px $color_neon4;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon4, 0 0 35px $color_neon4, 0 0 40px $color_neon4, 0 0 50px $color_neon4, 0 0 75px $color_neon4;
    }
}

@-moz-keyframes neon5 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon5, 0 0 70px $color_neon5, 0 0 80px $color_neon5, 0 0 100px $color_neon5, 0 0 150px $color_neon5;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon5, 0 0 35px $color_neon5, 0 0 40px $color_neon5, 0 0 50px $color_neon5, 0 0 75px $color_neon5;
    }
}

@-moz-keyframes neon6 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon6b, 0 0 70px $color_neon6b, 0 0 80px $color_neon6b, 0 0 100px $color_neon6b, 0 0 150px $color_neon6b;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon6b, 0 0 35px $color_neon6b, 0 0 40px $color_neon6b, 0 0 50px $color_neon6b, 0 0 75px $color_neon6b;
    }
}


/*glow*/

@keyframes neon1 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon1, 0 0 70px $color_neon1, 0 0 80px $color_neon1, 0 0 100px $color_neon1, 0 0 150px $color_neon1;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon1, 0 0 35px $color_neon1, 0 0 40px $color_neon1, 0 0 50px $color_neon1, 0 0 75px $color_neon1;
    }
}

@keyframes neon2 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon2, 0 0 70px $color_neon2, 0 0 80px $color_neon2, 0 0 100px $color_neon2, 0 0 150px $color_neon2;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon2, 0 0 35px $color_neon2, 0 0 40px $color_neon2, 0 0 50px $color_neon2, 0 0 75px $color_neon2;
    }
}

@keyframes neon3 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon3, 0 0 70px $color_neon3, 0 0 80px $color_neon3, 0 0 100px $color_neon3, 0 0 150px $color_neon3;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon3, 0 0 35px $color_neon3, 0 0 40px $color_neon3, 0 0 50px $color_neon3, 0 0 75px $color_neon3;
    }
}

@keyframes neon4 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon4, 0 0 70px $color_neon4, 0 0 80px $color_neon4, 0 0 100px $color_neon4, 0 0 150px $color_neon4;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon4, 0 0 35px $color_neon4, 0 0 40px $color_neon4, 0 0 50px $color_neon4, 0 0 75px $color_neon4;
    }
}

@keyframes neon5 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon5, 0 0 70px $color_neon5, 0 0 80px $color_neon5, 0 0 100px $color_neon5, 0 0 150px $color_neon5;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon5, 0 0 35px $color_neon5, 0 0 40px $color_neon5, 0 0 50px $color_neon5, 0 0 75px $color_neon5;
    }
}

@keyframes neon6 {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px $color_neon6b, 0 0 70px $color_neon6b, 0 0 80px $color_neon6b, 0 0 100px $color_neon6b, 0 0 150px $color_neon6b;
    }
    to {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color_neon6b, 0 0 35px $color_neon6b, 0 0 40px $color_neon6b, 0 0 50px $color_neon6b, 0 0 75px $color_neon6b;
    }
}