@import "colores"
@import "fonts"
@import "../node_modules/bootstrap/scss/bootstrap"
@import "../node_modules/animate.sass/scss/animate"
@import "gradients"
@import "mixins"
@import "glitch"
@import "overlay"

.wow
	visibility: hidden
*
	transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
	-webkit-transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
	-moz-transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
	-o-transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
html
	font-size: 62.5%
body
	padding-top: 4rem
	background-color: $gris_obscuro
	font-size: 62.5% !important
	text-rendering: optimizeLegibility
	font-family: $SourceSansPro
i
	margin-right: 1rem
a
	font-weight: normal
	color: $celeste
	&:hover
		color: darken($celeste,10%)
		text-decoration: none
.inherit
	font-size: inherit !important
	font-weight: inherit !important
	color: inherit !important
	text-shadow: inherit !important
.contenido 
	p
		line-height: 1.5
.fa
	@include min-width(15)
	@include min-width(20)
header
	background-color: rgba($primario,0)
	-webkit-backdrop-filter: blur(5px)
	backdrop-filter: blur(5px)
nav
	@include font-size(15)
.dropdown-menu
	@extend nav
aside
	.background-primario
		img
			max-width: 100%
		background-color: $primario
		ul
			@include font-size(15)
.gravatar
	border: solid 0.5rem white
	border-radius: 100%
	overflow: hidden
	background-color: $primario
.card-img-top
	width: 100%
	height: auto
.card-block.gradiente
	@include gradient_card-block()
h1
	color: $gris_claro
	font-weight: 500
	font-family: $SourceCodePro
.container
	padding-top: 1rem
.back_grad
	position: relative
.container, .back_grad
	pointer-events: none
.contenido
	background-color: rgba($primario, 0.9)
.disabled 
	cursor: not-allowed !important
#particles-js
	@include background_gradient(#250033,#002533)
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 0 
a, header, nav, article, .navbar-nav, .carousel, .navbar-light .navbar-toggler, navbar-brand
	pointer-events: all
.gradiente
	@include gradient_card-block ()

.gradiente-diagonal
	@include gradiente-diagonal(white, rgba(229,229,229,1), $primario)
.cuentos
	p
		font-family: 'EB Garamond', serif
		@include font-size(20)
@media print
	.wow
		visibility: visible !important
	a[href]:after
		content: none !important
	aside
		a
			@include font-size(0.8)
		.fa
			display: none