@import "material/material-design-lite"

@import "bootstrap/bootstrap"
@import "bootstrap/bootstrap-reboot"
@import "gradients"

$primario: rgba(204,204,204,0.90)

body
	padding-top: 4rem
	background-color: $gris_obscuro

i
	margin-right: 1rem
a
	font-weight: normal
header
	background-color: $primario
	-webkit-backdrop-filter: blur(5px)
	backdrop-filter: blur(5px)
aside
	img
		max-width: 100%
	background-color: $primario
.gravatar
	border: solid 0.5rem white
	border-radius: 100%
	overflow: hidden
	background-color: $primario
.card-img-top
	width: 100%
	height: auto
.mdl-button:hover
	@include shadow-2dp()
.card-block.gradiente
	@include gradient_card-block()
h1
	color: $gris_claro
	text-shadow: 0 -1px 0 white
.container
	padding-top: 1rem
.back_grad
	position: relative
.container, .back_grad
	pointer-events: none
.contenido
	background-color: rgba(240, 240, 240, 0.9)
.disabled 
	cursor: not-allowed !important
#particles-js
	@include background_gradient()
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 0 
header, article, .navbar-nav, .carousel, .navbar-light .navbar-toggler 
	pointer-events: all
.wow
	visibility: hidden
.gradiente
	@include gradient_card-block ()