---
layout: default
title: Mis cuentos
permalink: /cuentos
---
<article class="mb-5 cuentos">
  <div class="row">
    {% assign items = site.cuentos | sort: 'date' %}
    {% for cuento in site.cuentos  %}
    <div class="col-sm-6 col-md-4 col-lg-3 rounded d-flex align-content-stretch mb-4">
      <div class="card">
        {% if cuento.img != null %}
        <a href="{{ cuento.url }}">
          <img class="card-img-top" src="/img/cuentos/{{ cuento.img }}" alt="{{ cuento.title }}">
        </a>
        {% else %}
        <img class="card-img-top" src="/img/cuentos/pronto.jpg" alt="Pronto">
        {% endif %}
        <div class="card-block gradiente">
          <h4 class="card-title">{{ cuento.title }}</h4>
          <p class="card-text">{{ cuento.texto }}</p>
            <div class="text-center">
              <a href="{{ cuento.url }}" class="btn btn-primary">Ver más</a>
            </div>
        </div> <!-- end card-block -->
      </div><!-- end card -->
    </div>
    {% endfor %}
  </div>
</article>