$uniquifiers: 400,500,600,700,800

@each $uniquifier in $uniquifiers
	.eb-garamond-#{$uniquifier}
		font-family: "EB Garamond", serif
		font-optical-sizing: auto
		font-weight: #{$uniquifier}
		font-style: normal
