$weights: 400,500,600,700,800

@each $weight in $weights
	.eb-garamond-#{$weight}
		font-family: "EB Garamond", serif
		font-optical-sizing: auto
		font-weight: #{$weight}
		font-style: normal

.eb-garamond
	font-family: "EB Garamond", serif