.gradiente-1
  background: rgb(33,37,41)
  background: linear-gradient(180deg, rgba(255,255,255,0.025) 0%, rgba(255,255,255,0) 50%, rgba(33,37,41,0) 100%)
.gradiente-magenta-dark
  background: rgb(255,0,255)
  background: radial-gradient(circle at 0% 100%, rgb(255, 0, 125) 0%, rgb(125, 0, 62) 10%, rgb(33, 37, 41)25%)
  &:hover
    background: radial-gradient(circle at 5% 100%, rgb(255, 0, 125) 0%, rgb(125, 0, 62) 12.5%, rgb(33, 37, 41)50%)
    transition: background-color .3s ease-in-out