.glow-magenta-izquierdo
  -webkit-box-shadow: -5px 3px 10px -2px rgba(255,0,125,1)
  -moz-box-shadow: -5px 3px 10px -2px rgba(255,0,125,1)
  box-shadow: -5px 3px 10px -2px rgba(255,0,125,1)
  &:hover
    -webkit-box-shadow: -1px 0px 10px -2px rgba(255,0,125,1)
    -moz-box-shadow: -1px 0px 10px -2px rgba(255,0,125,1)
    box-shadow: -1px 0px 10px -2px rgba(255,0,125,1)
.glow-data
  text-shadow: 4px 0px 2px rgba(0, 255, 255, 0.075), 2px 0px 1px rgba(0, 255, 255, 0.1), -2px 0px 1px rgba(0, 255, 255, 0.1), -4px 0px 2px rgba(0, 255, 255, 0.075)
  &:hover
      text-shadow: 2px 0px 1px rgba(0, 255, 255, 0.075), 1px 0px 1px rgba(0, 255, 255, 0.1), -1px 0px 1px rgba(0, 255, 255, 0.1), -4px 0px 1px rgba(0, 255, 255, 0.075)