	{% if page.adobeAero %}
		<div class="col-md-12" id="adobeAero">
			<div class="row my-3">
				<div class="col-12">
					<h2>Explora la portada en Realidad Aumentada</h2>
				</div>
				<div class="col-md-3">
					<a href="{{ page.adobeAero }}">
						<img src="/assets/img/ar_corceles_azules.png" alt="Enlace Adobe Aero: {{ page.adobeAero }}" class="rounded shadow border w-100">
					</a>
					<a href="{{ page.adobeAero }}" target="_blank" class="btn btn-primary btn-sm my-3">Visita aquí el enlace</a>
				</div>
			</div>
		</div>
	{% endif %}