	{% if page.adobeAero %}
		<div class="col-md-12" id="adobeAero">
			<div class="row my-3">
				<div class="col-12 text-center mb-3">
					<h2>Explora la portada en Realidad Aumentada</h2>
				</div>
				<div class="col-md-3 mx-auto text-center">
					<a href="{{ page.adobeAero }}">
						<img src="/assets/img/ar_{{ page.title | replace: ' ', '_' | downcase }}.png" alt="Enlace Adobe Aero: {{ page.adobeAero }}" class="rounded shadow border w-100">
					</a>
					<div class="source-code text-capitalize fs-9 fw-lighter  text-center text-light text-muted date ls-175 mt-2">{{ page.adobeAero }}</div>
					<a href="{{ page.adobeAero }}" target="_blank" class="btn btn-primary btn-sm my-3">Visita aquí el enlace</a>
				</div>
			</div>
		</div>
	{% endif %}