<aside class="col-4">
  <article>
    <img src="http://0.gravatar.com/avatar/e666a0139beba19eb778eaf6e4cdacc6?size=800" alt="Ignacio Galdames" class="gravatar">
    <h3>Contacto</h3>
    <ul class="nav flex-column">
      <!--<li><i class="fa fa-wordpress"></i><a href="http://ignaciogaldames.com" target="_blank">http://ignaciogaldames.com</a></li>-->
      <li>
        <a href="mailto:ignacio.galdames@me.com" target="_blank">
          <i class="fa fa-envelope"></i> ignacio.galdames@me.com
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/ignaciogaldames" target="_blank">
          <i class="fa fa-linkedin"></i> linkedin.com/in/ignaciogaldames
        </a>
      </li>
      <li>
        <a href="http://github.com/IgnacioGaldames" target="_blank">
          <i class="fa fa-github"></i> github.com/IgnacioGaldames
        </a>
      </li>
      <li>
        <a href="https://gist.github.com/IgnacioGaldames" target="_blank">
          <i class="fa fa-github"></i> gist.github.com/IgnacioGaldames
        </a>
      </li>
      <li>
        <a href="http://behance.net/IgnacioGaldames" target="_blank">
          <i class="fa fa-behance"></i> behance.net/IgnacioGaldames
        </a>
      </li>
      <li>
        <a href="https://about.me/ignaciogaldames" target="_blank">
          <i class="fa fa-globe"></i> about.me/ignaciogaldames
        </a>
      </li>
    </ul>
  </article>
</aside>
