
    <div class="col-md-12 card">
        <article class="py-3 text-center">
            <img src="http://0.gravatar.com/avatar/e666a0139beba19eb778eaf6e4cdacc6?size=800" alt="Ignacio Galdames" class="w-75 mx-auto gravatar">
        </article>
        <article class="hidden-xs hidden-print">
            <a class="twitter-timeline" href="https://twitter.com/IA_Galdames" data-show-replies='false' data-chrome="noheader, nofooter, transparent, noscrollbar"
                data-tweet-limit='3' data-theme='light' data-link-color='#0275d8'>Tweets by GaldamesIgnacio</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </article>
        <article>
            {% include social.html %}
        </article>
    </div>
