<aside class="col-md-3 py-3 mdl-shadow--2dp">
  <article>
    <div id="scene" class="gravatar">
       <div class="layer" data-depth="0.5"><img src="http://0.gravatar.com/avatar/e666a0139beba19eb778eaf6e4cdacc6?size=800" alt="Ignacio Galdames"></div>
    </div>
    <h3>Contacto</h3>
    <ul class="nav flex-column my-3">
      <!--<li><i class="fa fa-wordpress"></i><a href="http://ignaciogaldames.com" target="_blank">http://ignaciogaldames.com</a></li>-->
      <li>
        <a href="mailto:ignacio.galdames@me.com" target="_blank">
          <i class="fa fa-envelope"></i>ignacio.galdames@me.com
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/ignaciogaldames" target="_blank">
          <i class="fa fa-linkedin"></i><strong>linkedin.com/in/</strong>ignaciogaldames
        </a>
      </li>
      <li>
        <a href="http://github.com/IgnacioGaldames" target="_blank">
          <i class="fa fa-github"></i><strong>github.com/</strong>IgnacioGaldames
        </a>
      </li>
      <li>
        <a href="https://gist.github.com/IgnacioGaldames" target="_blank">
          <i class="fa fa-github"></i><strong>gist.github.com/</strong>IgnacioGaldames
        </a>
      </li>
      <li>
        <a href="http://behance.net/IgnacioGaldames" target="_blank">
          <i class="fa fa-behance"></i><strong>behance.net/</strong>IgnacioGaldames
        </a>
      </li>
      <li>
        <a href="https://about.me/ignaciogaldames" target="_blank">
          <i class="fa fa-globe"></i><strong>about.me/</strong>ignaciogaldames
        </a>
      </li>
      <li>
        <a href="https://www.goodreads.com/author/show/16542460.Ignacio_Galdames" target="_blank">
          <i class="fa fa-book"></i><strong>goodreads.com/</strong>ignaciogaldames
        </a>
      </li>      
    </ul>
  </article>
  <article>
    <a class="twitter-timeline" href="https://twitter.com/GaldamesIgnacio" data-show-replies='false' data-chrome="noheader, nofooter, transparent, noscrollbar"  data-tweet-limit='3' data-theme='light' data-link-color='#0275d8'>Tweets by GaldamesIgnacio</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </article>
</aside>
