<div class="row" id="coleccionLibros">
	<div class="col-md-12 my-3">
		<h3>Mis Libros</h3>
	</div>
	{% for miLibro in site.libros | sort: "fechaPublicacion" | reverse %}
	<div class="col mb-4 d-flex  d-flex align-items-stretch" >
		<div class="card shadow border border-light-subtle ">
			{% if miLibro.nombreLibro %}
				<div class="card-header">
					<h5 class="card-title" id="coleccionLibros-nombreLibro">{{ miLibro.nombreLibro }}</h5>
				</div>
			{% endif %}
			<a href="{{ miLibro.url }}" class="">
				<img src="{{ miLibro.portadaLibro }}" class="card-img-top" alt="{{ miLibro.nombreLibro }}">
			</a>
			<div class="card-footer">
				{% assign book = miLibro %}
				{% include enlacesLibro.html %}
				<a href="{{ miLibro.url }}" class="btn btn-sm btn-outline-secondary my-2 w-100">ver más</a>
			</div>
		</div>

	</div>
	{% endfor %}
</div>