<div class="row my-3" id="coleccionLibros">
	<div class="col-md-12 d-flex align-content-start">
		<h3>Mis Libros</h3>
	</div>
</div>
<div class="row my-3" id="coleccionLibros-destacados">
	{% assign destacados = site.libros | where: "libroDestacado", true | sort: "fechaPublicacion" | reverse %}
	{% for miLibro in destacados %}
		<div class="col-xs-12 col-md-4 mx-auto order-0 mb-3 h-100">
			<div class="card shadow-lg border border-light-subtle">
				{% if miLibro.nombreItem %}
				<div class="card-header">
					<h5 class="card-title" id="coleccionLibros-nombreItem">{{ miLibro.nombreItem }}</h5>
					{% assign book = miLibro %}
					{% include dataLibro.html %}
				</div>
				{% endif %}
				<a href="{{ miLibro.url }}" class="">
					<img src="{{ miLibro.portadaLibro }}" class="card-img-top" alt="{{ miLibro.nombreItem }}">
				</a>
				<div class="card-footer h-100 d-flex align-content-end flex-wrap ">
					{% assign book = miLibro %}
					{% include enlacesLibro.html %}
					<a href="{{ miLibro.url }}" class="btn btn-sm btn-outline-secondary my-2 w-100">ver más</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

<div class="row my-3" id="coleccionLibros-otros">
	{% assign otros = site.libros | where_exp: "item", "item.libroDestacado != true" | sort: "fechaPublicacion" | reverse %}
	{% for miLibro in otros %}
		<div class="col-6 col-md-3 mx-auto order-1 mb-3">		
			<div class="card shadow-sm border border-light-subtle d-flex align-Libros-stretch h-100">
				{% if miLibro.nombreItem %}
				<div class="card-header">
					<h5 class="card-title" id="coleccionLibros-nombreItem">{{ miLibro.nombreItem }}</h5>
					{% assign book = miLibro %}
					{% include dataLibro.html %}
				</div>
				{% endif %}
				<a href="{{ miLibro.url }}" class="">
					<img src="{{ miLibro.portadaLibro }}" class="card-img-top" alt="{{ miLibro.nombreItem }}">
				</a>
				<div class="card-footer h-100 d-flex align-content-end flex-wrap ">
					{% assign book = miLibro %}
					{% include enlacesLibro.html %}
					<a href="{{ miLibro.url }}" class="btn btn-sm btn-outline-secondary my-2 w-100">ver más</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>