<footer class="py-4 border-top shadow mt-auto bg-dark gradiente-1">
  <div class="container text-center">
    <ul class="bd-footer-links" itemscope itemtype="http://schema.org/Person">
      {% for redSocial in site.data.redes_sociales.redesSociales %} {% if redSocial.redUsername %}
      <li class="d-inline-block m-1">
        <a itemprop="sameAs" href="https://{{ redSocial.redUrl }}/{{ redSocial.redUsername }}" target="_blank"
          rel="noopener" class="text-info glow-data">
          <i class="{{ redSocial.redIcon }} fa-lg"></i>
          <span class="d-none">{{ redSocial.redUsername }}</span>
        </a>
      </li>
      {% endif %} {% endfor %} {% if site.rss %}
      <li class="d-inline-block m-1">
        <a href="{{ 'feed.xml' | relative_url }}" class="text-info">
          <i class="fas fa-rss fa-lg"></i>
        </a>
      </li>
      {% endif %}
    </ul>
    <p class="m-0 lh-1">&copy; {{ site.time | date: '%Y' }} {{site.title}}. Todos los derechos reservados.</p>
    <p class="m-0 lh-1"><small class="source-code fw-lighter fs-9 text-muted glow-data" id="date-display">-> http://127.0.0.1:4000/ <span
          id="date-display"></span> |</small></p>

  </div>
</footer>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>