{% include scripts.html %}
<footer class="container-fluid bg-dark py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="https://ignaciogaldames.us5.list-manage.com/subscribe/post?u=041fd1b86179e63b3a1c74f30&amp;id=16a2e894c4" method="post"
                        id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll from-group">
                                <div class="mc-field-group my-3">
                                        <input type="text" value="" name="FNAME" class="required form-control form-control-sm" id="mce-FNAME" placeholder="Nombre">
                                    </div>
                            <div class="mc-field-group my-3">
                                <input type="email" value="" name="EMAIL" class="required email form-control form-control-sm" id="mce-EMAIL" placeholder="Email">
                            </div>

                            <div class="mc-field-group my-3">
                                <div class="text-info">
                                    <strong>Intereses: </strong>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" name="group[21501][1]" id="mce-group[21501]-21501-0">
                                    <label class="form-check-label text-info" for="mce-group[21501]-21501-0">libros Gratis</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="2" name="group[21501][2]" id="mce-group[21501]-21501-1">
                                    <label class="form-check-label text-info" for="mce-group[21501]-21501-1">Nuevos Lanzamientos</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="4" name="group[21501][4]" id="mce-group[21501]-21501-2">
                                    <label class="form-check-label text-info" for="mce-group[21501]-21501-2">Cuentos Cortos</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="8" name="group[21501][8]" id="mce-group[21501]-21501-3">
                                    <label class="form-check-label text-info" for="mce-group[21501]-21501-3">Noticias del Blog</label>
                                </div>

                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_041fd1b86179e63b3a1c74f30_16a2e894c4" tabindex="-1" value="">
                            </div>
                            <div class="clear text-right">
                                <input type="submit" value="Subscribirse" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-info btn-sm">
                                <hr>
                                <a href="https://us5.campaign-archive.com/home/?u=041fd1b86179e63b3a1c74f30&id=16a2e894c4" title="Ver campañas anteriores">
                                    <button class="btn btn-outline-info btn-sm">Ver campañas anteriores</button>
                                </a>
                            </div>

                        </div>
                    </form>
                </div>

                <!--End mc_embed_signup-->
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <ul class="bd-footer-links" itemscope itemtype="http://schema.org/Person">
                    {% for redSocial in site.redesSociales %} {% if redSocial.redUsername %}
                    <li class="d-inline-block">
                        <a itemprop="sameAs" href="https://{{ redSocial.redUrl }}/{{ redSocial.redUsername }}" target="_blank" class="text-info">
                            <i class="{{ redSocial.redIcon }} fa-lg"></i>
                        </a>
                    </li>
                    {% endif %} {% endfor %} {% if site.rss %}
                    <li class="d-inline-block">
                        <a href="{{ 'feed.xml' | relative_url }}" class="text-info">
                            <i class="fas fa-rss fa-lg"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</footer>