<header class="container-fluid bg-dark shadow sticky-top">
	<!-- Navbar or header content -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-expand-lg ">
					<div class="container-fluid">
						<a class="navbar-brand" href="{{ site.baseurl }}/">Inicio</a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
							aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" href="{{ site.baseurl }}/iagaldames/">Sobre Mí</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ site.baseurl }}/libros/">Mis Libros</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ site.baseurl }}/publicaciones/">Mis Publicaciones</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ site.baseurl }}/cursos/">Mis Cursos</a>
								</li>
								<!-- Add other links here -->
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>