<header class=" fixed-top mdl-shadow--4dp">
  <nav class="navbar navbar-toggleable-md navbar-light container" id="nav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Ignacio Galdames</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li><a class="nav-item nav-link" href="/" id="nav_inicio">Inicio <span class="sr-only">(current)</span></a></li>
        <li><a class="nav-item nav-link" href="/libros">Libros</a></li>
        <li><a class="nav-item nav-link disabled" href="/cv">Curriculum</a></li>
        <li><a class="nav-item nav-link disabled" href="/blog">Blog</a></li>
        <li><a class="nav-item nav-link disabled" href="/portafolio">Portafolio</a></li>
      </div>
    </div>
  </nav>
</header>
