<div class="container py-4">
    <div class="row d-flex flex-column-reverse flex-md-row">
        <aside class="col-md-4 my-2">
            {% include aside.html %}
        </aside>
        <section class="col-md-8 my-2">
            <div class="col-md-12 card p-4">
                <h1><strong>{{ page.title }}</strong></h1>
                <hr>
                {{ content }}
                <hr>
                <h3>Detalles:</h3>
                <p>Titulo: <strong>{{ page.title }}</strong></p>
                <p>isbn: {{ page.isbn }}</p>
                <p>ASIN: {{ page.asin }}</p>
                <p>Colección: {{ page.coleccion }}</p>
                <p>Editor: {{ page.editor }}</p>
                <p>Edición: {{ page.edicion }}</p>
                <p>Colección: <strong>{{ page.coleccion }}</strong></p>
                <a class="" href="http://{{ page.link }}" target="_blank" rel="noopener">
                    <button class="btn btn-danger m-2">
                        Comprar
                    </button>
                </a>
            </div>
        </section>
    </div>
</div>