<div class="container py-4">
    <div class="row d-flex flex-column-reverse flex-md-row">
        <aside class="col-md-4 my-2">
            {% include aside.html%}
        </aside>
        <section class="col-md-8 my-2">
            <div class="col-md-12 card p-4">
                <h1><strong>{{ page.title }}</strong></h1>
                <hr>
                {{ content }}
                {% if item in page.cuentos %}
                <hr>
                <p>isbn: {{ page.isbn }}</p>
                <p>ASIN: {{ page.asin }}</p>
                <p>Colección: {{ page.asin }}</p>
                <p>Editor: {{ page.asin }}</p>
                <p>Edición: {{ page.edicion }}</p>
                <p>Fecha de Lanzamiento: <small class="text-muted">{{ page.lanzamiento | date_to_string }}</small></p>
                {% endif %}
            </div>
        </section>
    </div>
</div>