<div class="container py-4">
    <div class="row d-flex flex-column-reverse flex-md-row">
        <aside class="col-md-4 my-2">
            {% include aside.html %}
        </aside>
        <section class="col-md-8 my-2">
            <div class="col-md-12 card p-4">
                <h1><strong>{{ page.title }}</strong></h1>
                <hr>
                {{ content }}
                <hr>
                <h3>Detalles:</h3>
                {% if page.title %}<p>Titulo: <strong>{{ page.title }}</strong></p>{% endif %}
                {% if page.isbn %}<p>ISBN: <strong>{{ page.isbn }}</strong></p>{% endif %}
                {% if page.asin %}<p>ASIN: <strong>{{ page.asin }}</strong></p>{% endif %}
                {% if page.coleccion %}<p>Colección: <strong>{{ page.coleccion }}</strong></p>{% endif %}
                {% if page.editor %}<p>Editor: <strong>{{ page.editor }}</strong>{</p>{% endif %}
                {% if page.edicion %}<p>Edición: <strong>{{ page.edicion }}</strong></p>{% endif %}
                {% if page.link %}
                <a class="text-right" href="http://{{ page.link }}" target="_blank" rel="noopener">
                    <button class="btn btn-danger">
                        Comprar
                    </button>
                </a>
                {% endif %}
            </div>
        </section>
    </div>
</div>