	{% if page.playlistSpotify or page.playlistAmazonMusicSrc %}
		<div class="col-md-12" id="playlists">
			<div class="row my-3">
				<div class="col-12"><h2>Escucha una playlist inspirada en el libro</h2></div>
				{% if page.playlistAmazonMusicSrc %}
					<div class="col" id="playlistAmazon">
						<iframe id='{{ page.playlistAmazonMusicId }}' src='{{ page.playlistAmazonMusicSrc }}' width='100%' height='352px' frameBorder='0' style='border-radius:20px;max-width:'></iframe>
						<div class="source-code text-capitalize fs-9 fw-lighter  text-center text-light text-muted date ls-175 mt-2">{{ page.playlistAmazonMusicId }}</div>
					</div>
				{% endif %}
				{% if page.playlistSpotify %}
					<div class="col" id="playListSpotify">
						<iframe style="border-radius:12px" src="{{ page.playlistSpotify }}" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
						<div class="source-code text-capitalize fs-9 fw-lighter text-center text-light text-muted date ls-175 mt-2">{{ page.playlistSpotify }}</div>
					</div>
				{% endif %}
			</div>
		</div>
	{% endif %}