<div class="row my-3" id="publicacionesRecientes">
  <div class="col-12">
    <h4>Publicaciones Recientes</h4>
  </div>
  <div class="col-12">
    <ul class="list-group">
      {% assign ultimoLibro = site.libros | sort: "fechaPublicacion" | reverse | first %}
      {% if ultimoLibro %}
      <li class="list-group-item">
        <div class=""> Libro: <a href="{{ ultimoLibro.url }}" class="text-capitalize eb-garamond fs-5">{{
            ultimoLibro.nombreItem }}</a></div>
        <a class="btn btn-sm btn-primary py-0 my-2" href="{{ site.baseurl }}/libros/">ver más libros</a>
      </li>
      {% else %}
      <li class="list-group-item">No hay libros disponibles.</li>
      {% endif %}
      {% assign publicacionesOrdenadas = site.cuentos | sort: "fechaItem" | reverse %}
      {% assign ultimaPublicacion = publicacionesOrdenadas | first %}
      {% if ultimaPublicacion %}
      <li class="list-group-item">
        <div class="">
          {{ ultimaPublicacion.tipoItem }}: <a href="{{ ultimaPublicacion.urlItem }}"
            class="text-capitalize eb-garamond fs-5" target="_blank">{{
            ultimaPublicacion.nombreItem
            }}</a>
        </div>
        <a class="btn btn-sm btn-primary py-0 my-2" href="{{ site.baseurl }}/cuentos/">ver más cuentos</a>
      </li>
      {% else %}
      <li class="list-group-item">No hay cuentos disponibles.</li>
      {% endif %}
    </ul>
  </div>
</div>