<div class="row my-1" id="publicacionesRecientes">
  <div class="col-12">

      {% assign publicacionesOrdenadas = site.data.mis_publicaciones.publicaciones | sort: "fechaPublicacion" | reverse
      %}
      {% assign ultimaPublicacion = publicacionesOrdenadas | first %}
      {% if ultimaPublicacion %}
      <div>
        <span class="fs-7">{{ ultimaPublicacion.tipoItem }}</span>
        <a href="{{ ultimaPublicacion.urlItem }}" class="text-capitalize eb-garamond fs-6" target="_blank">{{
          ultimaPublicacion.nombreItem}} - {{ultimaPublicacion.institucionItem}}</a> <span class="source-code text-capitalize fs-9 fw-lighter text-end text-light text-muted date ls-175 mt-n1 glow-data ">{{ultimaPublicacion.datosItem}}</span>
      </div>
      {% else %}
      No hay publicaciones disponibles.
      {% endif %}

  </div>
</div>