<div class="row my-1" id="publicacionReciente">
  <div class="col-12">

    {% assign ultimoLibro = site.libros | sort: "fechaPublicacion" | reverse | first %}
    {% assign ultimoCuento = site.cuentos | sort: "fechaItem" | reverse | first %}

    {% assign fechaLibro = ultimoLibro.fechaPublicacion | default: "0000/00/00" %}
    {% assign fechaCuento = ultimoCuento.fechaItem | default: "0000/00/00" %}

    {% if fechaLibro >= fechaCuento %}
      {% assign ultimaPublicacion = ultimoLibro %}
      {% assign tipo = "Libro" %}
      {% assign urlDestino = ultimoLibro.url %}
      {% assign institucion = ultimoLibro.nombreEditorial %}
    {% else %}
      {% assign ultimaPublicacion = ultimoCuento %}
      {% assign tipo = ultimoCuento.tipoItem | default: "Cuento" %}
      {% assign urlDestino = ultimoCuento.urlItem | default: ultimoCuento.url %}
      {% assign institucion = ultimoCuento.institucionItem %}
    {% endif %}

    {% if ultimaPublicacion %}
    <div class="source-code text-start mt-2 mb-3">
      <span class="text-success">> ÚLTIMA_ENTRADA_DETECTADA:</span>
      <span class="fs-8 text-muted">[{{ tipo | upcase }}]</span>
      <a href="{{ urlDestino }}" class="text-capitalize text-info glow-data fs-7" target="_blank">
        {{ ultimaPublicacion.nombreItem }} - {{ institucion }}
      </a>
      <span class="ms-1 text-warning fs-8">[ESTADO: DESENCRIPTADO]</span>
    </div>
    {% else %}
    No hay publicaciones disponibles.
    {% endif %}

  </div>
</div>