<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<!-- Instafeed -->
<!--<script type="text/javascript" src="/js/instafeed.min.js"></script>-->
<!-- Material -->
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<!-- Parallax -->
<script type="text/javascript" src="/js/jquery.parallax.min.js"></script>
<script type="text/javascript" src="/js/parallax.min.js"></script>
<!-- Main JS -->
<script type="text/javascript" src="/js/ignaciogaldames-min.js"></script>
<script src="/js/wow.min.js"></script>
<script>
wow = new WOW({
  boxClass: 'wow', // default
  animateClass: 'animated', // default
  offset: 0, // default
  mobile: true, // default
  live: true // default
})
wow.init();
</script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
	particlesJS.load('particles-js', '/js/particles.json', function() {
  console.log('callback - particles.js config loaded');
});
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Ignacio Galdames",
  "url": "http://www.ignaciogaldames.com",
  "sameAs": [
    "http://www.facebook.com/ignacio.galdames",
    "https://twitter.com/GaldamesIgnacio",
    "https://www.instagram.com/ignacio.galdames/",
    "https://www.linkedin.com/in/ignaciogaldames",
    "http://ignaciogaldames.tumblr.com",
    "https://www.youtube.com/ignaciogaldames"
  ]
}
</script>