<article class="container">
  <div class="row mb-3 py-3" id="posts">
    <div class="col-md-12">
      <h2 class="h2">Posts</h2>
    </div>
    <div class="col-md-12">
      <ul class="list-group">
        {% for post in site.posts %}
        <li class="list-group-item">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row" id="links">
    <div class="col-md-12">
      <h2 class="h4">Enlaces</h2>
    </div>
    <div class="col-md-12">
      <ul class="list-group">
        {% for link in site.data.mis_enlaces.enlaces %}
        <li class="d-inline-block m-1">
          <a itemprop="sameAs" href="{{ link.url }}" target="_blank" rel="noopener" class="text-info">
            <i class="fa-web fa-lg"></i>
            <span class="">{{ link.name }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</article>