//Inicializar componentes inactivos

$enable-shadows:              true !default;
$enable-cssgrid:              true !default;
$enable-negative-margins:     true !default;

$display-font-sizes: (
  1: 4.9rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
) !default;