.bg-dark, .dropdown-menu
    background-color:  rgba(52, 58, 64, 0.75) !important
    -webkit-backdrop-filter: blur(10px)
    backdrop-filter: blur(10px)
.navbar-dark
    .navbar-nav 
        .nav-link
            &:focus, &:hover
                color: rgba(255, 255, 255, 1)
                text-shadow: 0 0 10px $celeste
.dropdown
    &:hover
        .dropdown-menu
            display: block
            top: 80%
.dropdown-item
    color: rgba(255, 255, 255, .5)
.dropdown-divider
    border-top: 1px solid rgba($celeste, 0.3)
.full-img
    width: 100%
    height: auto
.gravatar
    @include border-radius(200)