--- 
layout: default 
---

<section class="container-fluid cuentos" id="cuento-{{ page.myId }}">
    <div class="row p-0">
        <div class="col-md-12 p-0  fondo-portada-{{ page.myId }}">
            <div class="container">
                <div class="row py-5">
                    <div class="col-md-4 d-flex justify-content-center align-items-center portada wow fadeIn">
                        <img src="http://via.placeholder.com/250x400" alt="">
                    </div>
                    <div class="col-md-8 d-flex justify-content-center align-items-center flex-column">
                        <div class="glitch-container wow fadeIn text-center" data-wow-delay="0.2s">
                            <h1 class="display-3 text-uppercase ">
                                <span class="glitch" data-text="{{ page.title }}" id="{{ page.title }}">
                                    {{ page.title }}
                                </span>
                            </h1>
                        </div>
                        <h3 class="wow fadeIn text-center text-md-left text-light" data-wow-delay="0.4s">{{ page.texto }}</h3>
                        <a class="wow fadeIn" href="{{ page.link }}" target="_blank" data-wow-delay="0.6s">
                            <button class="btn btn-info">
                                comprar
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container py-4">
    <div class="row">
        <aside class="col-md-3">
            {% include aside.html%}
        </aside>
        <section class="col-md-9">
            <div class="col-md-12 card p-4">
            {{ content }}
            </div>
        </section>
    </div>
</div>