--- 
layout: default
---

<section class="container-fluid">
    <div class="row p-0">
        <div class="col-md-12 p-0  bg-danger">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 py-5">
                        <img src="http://via.placeholder.com/250x400" alt="">
                    </div>
                    <div class="col-md-8 d-flex align-content-center">
                        <h1 class="display-3">{{ page.title}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>