--- 
layout: page
---

<section class="">
        <div class="card p-4">
            {% if page.imagen %}
            <img class="card-img-top" src="/assets/img/posts/{{ page.imagen | relative_url }}" alt="Card image cap" class="">
            {%  endif %}
          <div class="card-body">
            <p class="meta">{{ page.date | date_to_string }}</p>
            <p class="card-text text-justify">{{ content }}</p>
          </div>
        </div>
        <nav aria-label="Page navigation example" class="mt-3">
          <ul class="pagination">
            <li class="page-item mr-auto"><a class="page-link" href="{{ page.previous.url }}">Anterior</a></li>
            {% for post in site.posts %}
           {{paginator.per_page}}
             {% endfor %}
            <li class="page-item ml-auto"><a class="page-link" href="{{ page.next.url }}">Siguiente</a></li>
          </ul>
        </nav>
        </section>