---
layout: default
---
<article class="row">
  <div class="col-md-12">
    <h1 class="display-1">{{ page.title }}</h1>
  </div>
  <div class="col-md-5 ">
    <img class="card-img-top rounded mdl-shadow--2dp" src="/img/libros/{{ page.img }}" alt="Card image cap">
  </div>
  <div class="col-md-7 contenido rounded mdl-shadow--2dp d-flex flex-column">
    <div>
      <p class="card-text text-justify">{{ page.content }}</p>
    </div>
    <div class="text-center d-flex align-items-end">
      {% if page.link != null %}
      <a href="{{ page.link }}" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Comprar</a> {% else %}
      <a href="" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect disabled" disabled>Pronto</a> {% endif %}
    </div>
  </div>
</article>
