<div class="col-md-12 background-primario mdl-shadow--2dp rounded py-3" id="aside2">
    <article>
        <div id="scene" class="gravatar">
            <div class="layer" data-depth="0.5"><img src="http://0.gravatar.com/avatar/e666a0139beba19eb778eaf6e4cdacc6?size=800" alt="Ignacio Galdames"></div>
        </div>
        <h3>Contacto</h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
        <ul class="nav flex-column my-3 neon" itemscope itemtype="http://schema.org/Organization">
            <div id="neonHover">
                <link itemprop="url" href="http://ignaciogaldames.com">
                <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1">
                    <a itemprop="sameAs" href="mailto:ignacio.galdames@me.com" target="_blank">
                        <i class="fa fa-envelope  1s"></i>ignacio.galdames@me.com
                    </a>
                </li>
                <hr>
                <li class="  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <a itemprop="sameAs" href="https://www.linkedin.com/in/ignaciogaldames" target="_blank">
                        <i class="fa fa-linkedin"></i><strong>linkedin/in/</strong>ignaciogaldames
                    </a>
                </li>
                <li class="  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                    <a itemprop="sameAs" href="http://github.com/IgnacioGaldames" target="_blank">
                        <i class="fa fa-github"></i><strong>github/</strong>IgnacioGaldames
                    </a>
                </li>
                <li class="  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <a itemprop="sameAs" href="https://gist.github.com/IgnacioGaldames" target="_blank">
                        <i class="fa fa-github"></i><strong>gist.github/</strong>IgnacioGaldames
                    </a>
                </li>
                <li class="  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <a itemprop="sameAs" href="http://behance.net/IgnacioGaldames" target="_blank">
                        <i class="fa fa-behance"></i><strong>behance/</strong>IgnacioGaldames
                    </a>
                </li>
                <span class="d-print-none">
                <li class="  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                    <a itemprop="sameAs" href="https://profiles.wordpress.org/ignaciogaldames" target="_blank">
                        <i class="fa fa-wordpress"></i><strong>wordpress/</strong>ignaciogaldames
                    </a>
                </li>
                
                <hr>
                <li class="  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <a itemprop="sameAs" href="https://www.goodreads.com/IgnacioGaldames" target="_blank">
                        <i class="fa fa-book"></i><strong>goodreads/</strong>ignaciogaldames
                    </a>
                </li>
                <li class="  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <a itemprop="sameAs" href="https://www.amazon.com/Ignacio-Galdames/e/B075KMBC81/" target="_blank">
                        <i class="fa fa-amazon"></i><strong>amazon/</strong>ignaciogaldames
                    </a>
                </li>
                <hr>
                <li class="  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <a itemprop="sameAs" href="https://www.youtube.com/ignaciogaldames" target="_blank">
                        <i class="fa fa-youtube"></i><strong>youtube/</strong>ignaciogaldames
                    </a>
                </li>
                <li class="  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <a itemprop="sameAs" href="https://vimeo.com/ignaciogaldames" target="_blank">
                        <i class="fa fa-vimeo"></i><strong>vimeo/</strong>ignaciogaldames
                    </a>
                </li>
                <hr>
                <li class="  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <a itemprop="sameAs" href="https://www.instagram.com/ignacio.galdames/" target="_blank">
                        <i class="fa fa-instagram"></i><strong>instagram/</strong>ignacio.galdames
                    </a>
                </li>
                <li class="  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <a itemprop="sameAs" href="https://www.facebook.com/ignacio.galdames/" target="_blank">
                        <i class="fa fa-facebook"></i><strong>facebook/</strong>ignacio.galdames
                    </a>
                </li>
                <li class="  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <a itemprop="sameAs" href="http://ignaciogaldames.tumblr.com" target="_blank">
                        <i class="fa fa-tumblr"></i><strong>tumblr/</strong>ignaciogaldames
                    </a>
                </li>
                <li class="  wow fadeIn hide" data-wow-duration="1s" data-wow-delay="0.6s">
                    <a itemprop="sameAs" href="https://about.me/ignaciogaldames" target="_blank">
                        <i class="fa fa-globe"></i><strong>about.me/</strong>ignaciogaldames
                    </a>
                </li>
                <li class="  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <a itemprop="sameAs" href="https://twitter.com/GaldamesIgnacio" target="_blank">
                        <i class="fa fa-twitter"></i><strong>twitter/</strong>GaldamesIgnacio
                    </a>
                </li>
            </span>
            </div>
        </ul>
    </article>
    <article class="hidden-xs d-print-none">
        <a class="twitter-timeline" href="https://twitter.com/GaldamesIgnacio" data-show-replies='false' data-chrome="noheader, nofooter, transparent, noscrollbar" data-tweet-limit='3' data-theme='light' data-link-color='#0275d8'>Tweets by GaldamesIgnacio</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </article>

</div>