<header class="bg-dark sticky-top text-lowercase">
	<nav class="navbar navbar-expand-md container sticky-top navbar-dark" id="nav">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
		 aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/">
			<div class="glitch-container">
				<h1 class="h2">
					<span class="glitch" data-text="{{site.title}}" id="{{site.title}}">
						{{site.title}}
					</span>
				</h1>
			</div>
		</a>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
					<a class="nav-item nav-link" href="/" id="nav_inicio">Inicio
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"><a class="nav-item nav-link" href="/cv">Cv</a></li>
				{% for collection in site.collections %}
					{% assign name = collection.label %}
				<li class="nav-item dropdown wow fadeIn" data-wow-duration="1s" data-wow-delay="0.{{forloop.index}}s">
					<a class="nav-link " href="/{{ name }}" >
					{{ name }}
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							{% for page in site.[name] limit:5 %}
							<a class="dropdown-item" href="{{ page.url }}">{{ page.title }}</a>
							{% endfor %}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/{{ name }}">ver {{ name}}</a>
						  </div>
				</li>
				{% endfor %}
			</div>
		</div>
	</nav>
</header>