---
layout: page-sidebar-right
---

<section class="">
	{{ content }}
	<div class="row">
		{% for miLibro in site.data.mis_libros.libros %}
		<div class="col-md-6 col-lg-4 mb-4">
			<div class="card shadow border border-light-subtle">
				<div class="card-header">
					<h5 class="card-title">{{ miLibro.nombreLibro }}</h5>
				</div>
				<img src="{{ miLibro.portadaLibro }}" class="card-img-top " alt="{{ miLibro.nombreLibro }}">
				<div class="card-body">
					<p class="card-text fw-lighter">{{ miLibro.descripcionLibro }}</p>
				</div>
				<div class="card-body border-top border-light-subtle">
					{% if miLibro.nombreEditorial %}
						<h6 class="mb-1">Editorial: <span class="fw-bold">{{ miLibro.nombreEditorial }}</span></h6>
					{% endif %}
					{% if miLibro.nombreColeccion %}
						<h6 class="mb-1">Sello: <span class="fw-bold">{{ miLibro.nombreSello }}</span></h6>
					{% endif %}
					{% if miLibro.nombreColeccion %}
					<h6 class="mb-1">Colección: <span class="fw-bold">{{ miLibro.nombreColeccion }}</span></h6>
				{% endif %}
					{% if miLibro.fechaPublicacion %}
						<h6 class="mb-1">Fecha Publicación: <span class="fw-bold">{{ miLibro.fechaPublicacion }}</span></h6>
					{% endif %}
					{% if miLibro.ISBN %}
						<h6 class="mb-1">ISBN: <span class="fw-bold">{{ miLibro.ISBN }}</span></h6>
					{% endif %}
					{% if miLibro.ISBN10 %}
						<h6 class="mb-1">ISBN10: <span class="fw-bold">{{ miLibro.ISBN10 }}</span></h6>
					{% endif %}
					{% if miLibro.ASIN %}
						<h6 class="mb-1">ASIN: <span class="fw-bold">{{ miLibro.ASIN }}</span></h6>
					{% endif %}
				</div>
				<div class="card-footer">
					<a href="{{miLibro.urlGoodreads}}" class="btn btn-sm btn-secondary mb-2" target="_blank" type="button"><i class="fa-brands fa-goodreads me-2"></i>goodreads</a>
					{% if miLibro.urlAmazon | miLibro.urlBuscalibre | miLibro.urlMercadolibre %}
						<div class="btn-group w-100" role="group" aria-label="Enlaces Libros">			
							{% if miLibro.urlAmazon %}
								<a href="{{miLibro.urlAmazon}}" class="btn btn-sm btn-primary" target="_blank" type="button"><i class="fa-brands fa-amazon me-2"></i>Amazon</a>
							{% endif %}
							{% if miLibro.urlBuscalibre %}
								<a href="{{miLibro.urlBuscalibre}}" class="btn btn-sm btn-primary" target="_blank" type="button"><i class="fa-solid fa-paper-plane me-2"></i>Buscalibre</a>
							{% endif %}
							{% if miLibro.urlMercadolibre %}
							<a href="{{miLibro.urlMercadolibre}}" class="btn btn-sm btn-primary" target="_blank" type="button"><i class="fa-regular fa-handshake me-2"></i>Mercadolibre</a>
						{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>