---
layout: page-sidebar-right
---

<section>
  {{ content }}
  <div class="row">
    {% for miLibro in site.data.mis_libros.libros %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{ miLibro.nombreLibro }}</h5>
        </div>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{ miLibro.descripcionLibro }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>