---
layout: page-sidebar-right
---

<section class="">
  {{ content }}
  <ul class="list-group list-group-flush">
    {% for miCurso in site.data.mis_cursos.cursos %}
    <li class="list-group-item d-flex flex-column py-3">
      {%if miCurso.tipoCurso %}
        <div class="text-capitalize futura fs-6 fw-lighter text-light text-muted">
          {{ miCurso.tipoCurso }}
        </div>
      {% endif %}
      {%if miCurso.idCurso %}
        <span class="source-code text-capitalize fs-8 fw-lighter text-light text-muted">{{ miCurso.idCurso }}</span>
      {% endif %}

      <div class="d-flex align-items-center">
        <span class="text-capitalize eb-garamond fs-4 flex-grow-1">{{ miCurso.nombreCurso }}</span>
        <span class="mx-3"> | </span>
        <span class="text-uppercase fw-bolder">{{ miCurso.institucionCurso }}</span>
        <span class="mx-3"> | </span>
        <span class="futura">{{ miCurso.fechaCurso  | date: "%Y"}}</span><span class="fw-light futura">/{{ miCurso.fechaCurso  | date: "%m"}}/{{ miCurso.fechaCurso  | date: "%d"}}</span>
      </div>
      {% if miCurso.url %}
      <div class="text-capitalize futura fs-6 fw-lighter text-light mt-2 align-self-end">
        <a href="{{ miCurso.url }}" target="_blank" rel="noopener noreferrer" class="btn btn-secondary btn-sm">ver cetificado</a>
      </div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>