---
layout: page-sidebar-right
---

<section class="">
  {{ content }}
  <ul class="list-group list-group-flush">
    {% for miCurso in site.data.mis_cursos.cursos %}
    <li class="list-group-item d-flex flex-column py-3">
      {%if miCurso.tipoCurso %}
        <div class="text-capitalize futura fs-6 fw-lighter text-light text-muted">
          {{ miCurso.tipoCurso }}
        </div>
      {% endif %}
      {%if miCurso.idCurso %}
        <span class="source-code text-capitalize fs-9 fw-lighter text-light text-muted">-> {{ miCurso.idCurso }} |</span>
      {% endif %}
      <div class="d-flex align-items-center">
        <span class="text-capitalize eb-garamond fs-4 flex-grow-1">{{ miCurso.nombreCurso }}</span>
        <span class="mx-3"> | </span>
        <span class="text-uppercase fw-bolder">{{ miCurso.institucionCurso }}</span>
        <span class="mx-3"> | </span>
        <div class="flex flex-column">
          <div class="futura">
            <span class="">{{ miCurso.fechaCurso  | date: "%Y" }}</span><span  class="fw-light">/{{ miCurso.fechaCurso  | date: "%m" }}/{{miCurso.fechaCurso  | date: "%d" }}</span>
          </div>
          <!-- Unique ID and data-date attribute for each date -->
          <div id="date{{ forloop.index }}"
            class="source-code text-capitalize fs-9 fw-lighter text-end text-light text-muted date ls-175 mt-n1"
            data-date="{{ miCurso.fechaCurso  | date: " %Y-%m-%d" }}">
          </div>
        </div>
        <div class="d-flex align-items-center">
          <span class="flex-grow-1">
            {% if miPublicacion.enlace == true %}<a href="{{ miPublicacion.urlPublicacion }}" target="_blank">{% endif
              %}
              <span class="text-capitalize eb-garamond fs-5">{{ miPublicacion.nombrePublicacion }}</span>
              {% if miPublicacion.enlace == true %}</a>{% endif %}
            <span class="text-uppercase fw-bold">{{ miPublicacion.tituloRevista }}</span>
          </span>
        </div>
      </div>
      {% if miCurso.url %}
      <div class="text-capitalize futura fs-6 fw-lighter text-light mt-2 align-self-end">
        <a href="{{ miCurso.url }}" target="_blank" rel="noopener noreferrer" class="btn btn-secondary btn-sm btn-cp">ver cetificado</a>
      </div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Select all elements with the class "date"
    const dateElements = document.querySelectorAll(".date");

    dateElements.forEach(element => {
      // Get the date from the data-date attribute
      const dateStr = element.getAttribute("data-date");

      if (dateStr) {
        // Convert the date string to a Date object and then to a timestamp
        const dateObj = new Date(dateStr);
        const timestamp = dateObj.getTime();

        // Display the timestamp inside the respective element
        element.innerHTML = timestamp;
      }
    });
  });
</script>