---
layout: page-sidebar-bottom
---
<div class="container cuento">
	<div class="card shadow border border-light-subtle" id="cardLibro">
		<div class="card-header">
			<h1 class="card-title h5" id="libro-nombreItem">{{ page.nombreItem }}</h1>
			{% assign book = page %}
			{% include dataLibro.html %}
		</div>
		<div class="row">
			{% if page.portadaItem %}
			<div class="col-md-6 col-lg-4 d-flex align-content-center flex-wrap">
				<img src="{{ page.portadaItem }}" class="card-img-top " alt="{{ page.nombreItem }}" loading="lazy" width="400" height="600">
				<div class="card-footer w-100">
					{% assign book = page %}
					{% include enlacesLibro.html %}
				</div>
			</div>
			{% endif %}
			<div class="col-md-6 col-lg-8  d-flex align-content-center flex-wrap">
				{% if page.descripcionItem %}
				<div class="card-body pb-0">
					<p class="card-text fw-lighter">{{ page.descripcionItem }}</p>
				</div>
				{% endif %}
				<div class="card-body pt-0">
					{% assign book = page %}
					{% include detallesItem.html %}
				</div>
			</div>
		</div>
	</div>
	<article class="row my-5" id="Contenido">
		<div class="col-12">
			{{ content }}
		</div>
	</article>
	<div class="container">
		{% assign content = post.content | strip_newlines %}
		{% if content != "" or page.adobeAero or page.playlistSpotify or page.playlistAmazonMusicSrc %}
		<article class="row my-5" id="Contenido">
			<div class="col-12">
				{{ content }}
			</div>
			{% include adobeAero.html %}
			{% include playlists.html %}
		</article>
		{% endif %}
		{% if page.en_libros %}
		<article class="row my-5">
			<div class="col-12">
				<h2>Aparece en:</h2>
				<div class="d-flex flex-wrap gap-3 mt-3">
					{% for libro_slug in page.en_libros %}
						{% assign libro = site.libros | where: "slug", libro_slug | first %}
						{% if libro %}
						<div class="card bg-dark-subtle" style="width: 12rem;">
							{% if libro.portadaItem %}
							<img src="{{ libro.portadaItem }}" class="card-img-top" alt="{{ libro.nombreItem }}" loading="lazy">
							{% endif %}
							<div class="card-body p-2 text-center">
								<a href="{{ libro.url }}" class="stretched-link text-decoration-none text-light">{{ libro.nombreItem }}</a>
							</div>
						</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</article>
		{% endif %}

		<article class="row border-top my-3" id="include-coleccionLibros">
			<div class="col-12 mx-auto">
				{% include coleccionLibros.html %}
			</div>
		</article>
	</div>