<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
{% include head.html %}

<body class="default d-flex flex-column min-vh-100">
	{% include header.html %}
	<main class=" my-5">
		<div class="container">
			<div class="row my-3">
				<div class="col-12 text-center" id="title">
					{% if page.title %}
						<h1 class="display-1 text-capitalize" id="page-title">{{ page.title}}</h1>
					{% else %}
						<h1 class="display-1 text-capitalize" id="site-title">{{ site.title}}</h1>
					{% endif %}
				</div>
				{% if page.subtitle %}
					<div class="col-12 text-center mb-3" id="subtitle">
						<h3 class="h2" id="page-subtitle">{{ page.subtitle}}</h3>
					</div>
				{% endif %}
			</div>
		</div>
		{{ content }}
	</main>
	{% include footer.html %}
	<script src="{{ '/assets/js/bundle.js' | relative_url }}"></script>
</body>
</html>