--- 
layout: default 
---
<section class="container-fluid {{ page.collection }}" id="{{ page.collection }}-{{ page.myId }}">
    <div class="row p-0">
        <div class="col-md-12 p-0  fondo-portada fondo-portada-{{ page.myId }}">
            <div class="container">
                <div class="row py-5">
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img src="{{site.url}}/assets/img/escritos/{{ page.img }}" alt="" class="card portada w-100">
                    </div>
                    <div class="col-md-8 d-flex justify-content-center align-items-center flex-column">
                        <div class="glitch-container text-center">
                            <h2 class="display-3 text-uppercase ">
                                <span class="glitch" data-text="{{ page.title }}" id="{{ page.title }}">
                                    {{ page.title }}
                                </span>
                            </h2>
                        </div>
                        <h3 class="text-center text-md-left text-light">{{ page.texto }}</h3>
                        {% include botones.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include pagina.html %}