--- 
layout: default 
---
<div class="container-fluid">
    <div class="row p-0" id="slideHome">
        <section class="col-md-12 p-0">
            <!--{% include slider_home.html %}-->
        </section>
    </div>
</div>
<div class="container py-4">
    <div class="row d-flex flex-column-reverse flex-md-row">
        <aside class="col-md-4 my-2">
            {% include aside.html%}
        </aside>
        <section class="col-md-8 my-3">
            <div class="col-md-12 card p-4">
                <h1>{{ page.title }}</h1>
                <div class="card-deck my-3 mt-md-0 mb-md-3">
                    {% for post in site.libros %} {% include archivo.html %} {% endfor %}
                </div>
                {% if site.libros %}
                <hr> {% endif %}
                <div class="card-deck my-3">
                    {% for post in site.cuentos %} {% include archivo.html %} {% endfor %}
                </div>
            </div>
        </section>
        <section class="container my-3">
            <div class="col-md-12 card p-4">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Últimas Entradas del Blog</h2>
                    </div>
                    {% for post in site.posts limit:6 %}
                    <div class="col-md-4 my-3 mx-auto">
                        {% include archivo.html %}
                    </div>
                    {% endfor %}
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-12 text-right">
                        <div class="ml-auto">
                            <a href="{{ site.url }}/posts">
                                    <button class="btn btn-info">
                                        <i class="fas fa-archive"></i> ver posts
                                    </button>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>