---
layout: default
---

<section class="container-fluid" id="home">
	<article class="container border-bottom">
		<div class="row d-flex align-items-center" id="description">
			<div class="col-md-4 mb-4 mx-auto">
				<img class="img-fluid shadow rounded" src="/assets/img/iagaldames_2024.jpg">
			</div>
			<div class="col-md-8 mb-4 mx-auto">
				{{ site.description | safeHTML }}
			</div>
		</div>
	</article>
	<article class="container border-top border-bottom">
		<div class="row">
			<div class="col-md-12 mx-auto">
				{% include coleccionLibros.html %}
			</div>
		</div>
	</article>
	{% include sidebar.html %}
</section>