---
layout: default
---

<section class="container my-4 page" id="page">
  <div class="row">
    <article class="col-12" id="article">
      <div class="row">
        <div class="col-12">
          <h1 id="page-title">{{ page.title }}</h1>
        </div>
        <div class="col-12 content">
         {{ content }} 
        </div>
      </div>     
    </article>
  </div>
</section>
<section class="container my-4" id="ads">
  <div class="row">
    <div class="col-12">
      {% include ads/anuncios-multiples.html %}
    </div>
  </div>
</section>