---
layout: default
---
<h1 class="display-1">{{ page.title }}</h4>

<section class="">
<div class="card mdl-shadow--4dp">
  <div class="card-block">
    
	<p class="meta">{{ page.date | date_to_string }}</p>
    <p class="card-text text-justify">{{ content }}</p>
  </div>
</div>

<nav aria-label="Page navigation example" class="mt-3">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="{{ page.previous.url }}">Anterior</a></li>
    {% for post in site.posts %}
   {{paginator.per_page}}
     {% endfor %}
    <li class="page-item"><a class="page-link" href="{{ page.next.url }}">Siguiente</a></li>
  </ul>
</nav>
</section>