---
layout: page-sidebar-right
---

{% assign publicaciones_ordenadas = site.data.mis_publicaciones.publicaciones | sort: "fechaPublicacion" %}

{% assign totalPalabras = 0 %}
{% for miPublicacion in publicaciones_ordenadas %}
{% assign totalPalabras = totalPalabras | plus: miPublicacion.cantidadPalabras %}
{% endfor %}

<section class="content">
  <div class="row">
    <div class="col-12 text-end">
      <div class="source-code text-muted fs-9 fw-light">-> {{ totalPalabras }} palabras <span>|</span></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="list-group list-group-flush">
        {% for miPublicacion in publicaciones_ordenadas %}
        <li class="list-group-item py-3">
          {% if miPublicacion.cantidadPalabras %}
          <div class="source-code text-capitalize fs-9 fw-lighter text-light text-muted glow-data ">
            ->{% if miPublicacion.cantidadPalabras < 1000 %} <strong>ficción flash</strong>
              {% elsif miPublicacion.cantidadPalabras < 7500 %} <strong>ficción corta</strong>
                {% endif %}
                <span class="">{{ miPublicacion.cantidadPalabras }} palabras |</span>
          </div>
          {% endif %}
          <div class="d-flex align-items-center flex-column flex-md-row">
            <div class="flex-grow-1 d-flex  align-items-center flex-column flex-md-row">
              {% if miPublicacion.enlace == true %}<a href="{{ miPublicacion.urlPublicacion }}" target="_blank">{% endif
                %}
                <div class="text-capitalize eb-garamond fs-5">{{ miPublicacion.nombrePublicacion }}</div>
                {% if miPublicacion.enlace == true %}</a>{% endif %}
              <div class="text-uppercase fw-bold"> | {{ miPublicacion.tituloRevista }}</div>
              </div>
            <div class="flex flex-column fecha ">
              <div class="futura">
                <span>{{ miPublicacion.fechaPublicacion | date: "%Y" }}</span><span class="fw-light">/{{ miPublicacion.fechaPublicacion | date: "%m" }}/{{ miPublicacion.fechaPublicacion | date: "%d" }}</span>
              </div>
              <!-- Unique ID and data-date attribute for each date -->
              <div id="date{{ forloop.index }}"
                class="source-code text-capitalize fs-9 fw-lighter text-end text-light text-muted date ls-175 mt-n1 glow-data "
                data-date="{{ miPublicacion.fechaPublicacion | date: " %Y-%m-%d" }}">
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Select all elements with the class "date"
    const dateElements = document.querySelectorAll(".date");

    dateElements.forEach(element => {
      // Get the date from the data-date attribute
      const dateStr = element.getAttribute("data-date");

      if (dateStr) {
        // Convert the date string to a Date object and then to a timestamp
        const dateObj = new Date(dateStr);
        const timestamp = dateObj.getTime();

        // Display the timestamp inside the respective element
        element.innerHTML = timestamp;
      }
    });
  });
</script>