---
layout: page-sidebar-right
---
{% for miPublicacion in site.data.mis_publicaciones.publicaciones %}
{% assign site.data.mis_publicaciones.publicaciones = site.data.mis_publicaciones.publicaciones | push: miPublicacion[1]
%}
{% endfor %}
{% assign site.data.mis_publicaciones.publicaciones = site.data.mis_publicaciones.publicaciones | sort:
"fechaPublicacion" %}
<section class="content">
  <ul class="list-group list-group-flush">
    {% for miPublicacion in site.data.mis_publicaciones.publicaciones %}
    <li class="list-group-item py-3">
      {%if miPublicacion.cantidadPalabras %}
        <div class="text-capitalize futura fs-7 fw-lighter text-light text-muted">
          {% if miPublicacion.cantidadPalabras < 1000 %}
            <strong>ficción flash</strong>
          {% elsif miPublicacion.cantidadPalabras < 7500 %}
            <strong>ficción corta</strong>
          {% endif %}
          {{ miPublicacion.cantidadPalabras }} palabras
        </div>
      {% endif %}
      <div class="d-flex align-items-center">
        <span class="flex-grow-1">
          {% if miPublicacion.enlace == true %}<a href="{{ miPublicacion.urlPublicacion }}" target="_blank">{% endif %}
            <span class="text-capitalize eb-garamond fs-5">{{ miPublicacion.nombrePublicacion }}</span> 
            {% if miPublicacion.enlace == true %}</a>{% endif %}      |
          <span class="text-uppercase fw-bold">{{ miPublicacion.tituloRevista }}</span>
        </span>
        <span>{{ miPublicacion.fechaPublicacion }}</span> 
      </div>
    </li>
    {% endfor %}
  </ul>
</section>