---
layout: default
---
<article class="row">
    <div class="col-md-12 ">
        <h1 class="display-1">{{ page.title }}</h1>
    </div>
    <div class="col-md-12 rounded mdl-shadow--2dp p-5 gradiente-diagonal">
        <div class="row">
            <div class="d-flex align-items-center">
                <div class="col-md-3 ">
                    {% if page.img != null %}
                    <img class="card-img-top rounded mdl-shadow--2dp" src="/img/cuentos/{{ page.img }}" alt="Card image cap">
                    {% else %}
                    <img class="card-img-top" src="/img/cuentos/pronto.jpg" alt="Pronto">
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <div class="col-md-12">
                        <h4 class="card-title">{{ page.title }}</h4>
                        <p>{{page.texto}}</p>
                    </div>
                    <div class="col-md-12">
                        {% if page.link != null %}
                        <div class="text-center">
                            <a href="{{ page.link }}" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Comprar</a>
                        </div>
                        {% else %}
                        <div class="col-md-6 offset-3 text-center">
                            <a href="" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect disabled" disabled>Pronto</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if page.notas == true %}
    <div class="col-md-12 rounded mdl-shadow--2dp p-5 gradiente-diagonal mt-3">
        <div class="row">
            <div class="col-md-12">
                <h2 class="">Notas del Autor</h1>
            </div>
            <div class="col-md-12">
                {{ page.content }}
            </div>
        </div>   
    </div>
    {% else %}
    <hr>
    {% endif %}
    <div class="col-md-12 rounded mdl-shadow--2dp p-5 gradiente-diagonal mt-3">
        <div class="row">
            <div class="col-md-12">
                <h2 class="">Otros Cuentos</h1>
            </div>
        {% for cuento in site.cuentos %}
            <div class="col-md-3 col-lg-2 rounded d-flex align-content-stretch">
                <div class="card mdl-shadow--2dp">
                    {% if cuento.img != null %}
                    <a href="{{ cuento.url }}" class="">
                    <img class="card-img-top" src="/img/cuentos/{{ cuento.img }}" alt="{{ cuento.title }}">
                    </a>
                    {% else %}
                    <img class="card-img-top" src="/img/cuentos/pronto.jpg" alt="Pronto">
                    {% endif %}
                </div><!-- end card -->
            </div>
        {% endfor %}
        </div>
    </div>
</article>